<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PulseProsper</title>
     <link rel="icon" type="image/png" href="logo.png">
    <link rel="stylesheet" href="profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color: #333;">
          <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="logoimage.png" width="50px" height="50px" alt="PuslseProper"></a>
              <p style="color: white; margin-top: 15px;">PulseProper</p>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item"><a class="nav-link" href="/" id="register-button" style="color: white;">SIGN OUT</a></li>
                  </ul>
              </div>
          </div>
      </nav>
      </div>


    <div class="container">
        <div class="main-body">
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                      <div class="card" style="background-color: #333;">
                        <div class="card-body">
                          <div class="d-flex flex-column align-items-center text-center" style="background-color: #333;">
                            <div class="image-box">
                               {{#each user.details}}
                  <img src="{{ this.imagePath }}" alt="Profile Image" class="rounded-circle" style="background-color: aliceblue;" height="150" width="150">
                   {{/each}}
                                <div class="mt-3">
                                <h4 style="color: aliceblue;">{{ user.name }}</h4>
                                <p class="text-secondary mb-1" style="color: aliceblue;">Employee</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                    {{#each user.details}}
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <h6>{{this.fullname}}</h6>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Employee ID</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ this.empid }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Height(in cm)</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ this.height }}
                        </div>
                      </div>
                      <hr>
                      
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Age</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ this.age }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Sex</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ this.gender }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Blood Group</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ this.bloodgroup }}
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/each}}
      

                  <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                      <div class="card h-100">
                        <div class="card-body">
                            <div class="newform-box">
                                <p class="col-sm-9 text-secondary" style="width: 100%;">Please fill the form to assess and monitor your cardiovascular well-being. Early detection and proactive measures are key to maintaining a healthy heart. Your health is our priority.</p>
                                <div class="row">
                                    <div class="col-sm-12">
                                    <a class="newform-button" class="btn btn-info " href="/question">NEW FORM</a>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 mb-3">
  <div class="card h-100">
    <div class="card-body" style="overflow-y: scroll; height:260px;" >
      <h6 class="d-flex align-items-center mb-3">Previous Records</h6>

      {{#each user.formHistory}}
      <div>
      <form action="/previous-records" method="post">
        <small class="col-sm-9 text-secondary">{{ formatDate this.date }}</small>
        <small class="col-sm-9 text-secondary">Prediction: {{ this.formValues.pythonOutput }}%</small>
        <div class="row">
          <div class="col-sm-12" style="width: 100%;">
            <input type="hidden" name="formId" value="{{ this._id }}">
            <button type="submit" class="preform-button btn btn-info" style="color: aliceblue; background-color: gray; border: 1px solid gray">Open</button>
          </div>
        </div>
        </form>
        
        </div>
      {{/each}}
                  </div>
                </div>
              </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>